body {
  font-family: Arial;
  background: #f4f4f4;
}

.todo-container {
  width: 300px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px #ccc;
}

input {
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px 10px;
  cursor: pointer;
}

li {
  list-style: none;
  padding: 8px;
  margin-top: 5px;
  background: #eee;
  display: flex;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
  background: #c8e6c9;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}